{% extends 'index-register.html' %}

{% block body %}
  <div class="container">
    <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Right-aligned menu
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button" onclick="http://localhost:5001/result_base">Baseline</button>
    <button class="dropdown-item" type="button" onclick="http://localhost:5002/result_wordnet">WordNet</button>
    <button class="dropdown-item" type="button" onclick="http://localhost:5003/result_conceptnet">ConceptNet</button>
  </div>
  </div>
</div>
  </div>

{% endblock %}