{% extends 'index.html' %}

{% block body %}
	<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="row google-logo text-center">
    <img src="http://douxtech.com/google.png" alt="logo"> 
      
    </div>
    <div class="row google-form text-center">
      <form action="http://google.com/search" method="get">
        <div class="form-group">

      <input type="text" class="form-control google-search" name="q">
      <div class="btn-group">
  <button type="submit" class="btn btn-default">Google Search</button>
  <a type="button" href="https://www.google.com/doodles" class="btn btn-default">I'm Feeling Lucky</a>
  
</div>
    </div>
      </form>
      
    </div>
    
    
  </div>
  </div>
</div>

{% endblock %}