{% extends 'index.html' %}

{% block body %}

<div class="jumbotron" style="width: 100%">
    <h1>Welcome!!</h1>
    <p class="lead" style='font-family: "Times New Roman", Times, serif;font-size: 2.0em;'>Please follow the links above to test each evaluation</p>
    <p class="lead" style='font-family: "Times New Roman", Times, serif;font-size: 1.5em;font-weight: bold;'>The following tasks are expected to be completed in this study</p>
<ol>
  <li style='font-family: "Times New Roman", Times, serif;font-size: 1.5em;'>You are interested in datasets about anything related to Learning in Wales.<ol>
      <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'><b>Task 1a :</b> Search for these datasets using<br/>
    Query Topic: Learning <br/>
    Query Location: Wales <br/>
  </li>
    <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'><b>Task 1b:</b> For each of the first seven results, assign a star indicating its relevance to your information need: the more number of stars, the more relevant the result.</li>
    </ol>
    </li>
    
      <li style='font-family: "Times New Roman", Times, serif;font-size: 1.5em;'>
    You are interested in datasets about or related to transport in fairfax.<ol>
      <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'>
    <b>Task 2a:</b> Search for these datasets using <br/>
    Query Topic: Transport <br/>
    Query Location: fairfax 
    </li>
    <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'><b>Task 2b:</b> For each of the first seven results, assign a star indicating its relevance to your information need: the more number of stars, the more relevant the result.
    </li>
  </ol>
  </li>
  <li style='font-family: "Times New Roman", Times, serif;font-size: 1.5em;'> 
  You are interested in datasets about or related to communities in the Republic of Ireland.
<ol>
      <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'><b>Task 3a:</b> Search for these datasets using</li>
    Query Topic: Communities<br/>
    Query Location: Republic of Ireland<br/>
    <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'><b>Task 3b:</b> For each of the first seven results, assign a star indicatingits relevance to your information need: the more number of stars, the more relevant the result.</li>
  </ol>
    </li>
        
    <li style='font-family: "Times New Roman", Times, serif;font-size: 1.5em;'>
    You are interested in datasets about or related to population in London.<ol>
      <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'>
    <b>Task 4a:</b> Search for these datasets using <br/>
    Query Topic: Population <br/>
    Query Location: England
  </li>
    <li style='font-family: "Times New Roman", Times, serif;font-size: 1.0em;'><b>Task 4b:</b> For each of the first seven results, assign a star indicating its relevance to your information need: the more number of stars, the more relevant the result.</li>
    </li>
    </ol>
    </li>
    </ol>
    <p class="lead" style='font-family: "Times New Roman", Times, serif;font-size: 2.5em;font-weight: bol'> Notes:</p>
    <p style='font-family: "Times New Roman", Times, serif;font-size: 2.0em;'>
      <b>Strategy 1: Baseline keyword</b><br/> Topic and location are considered the same without spatial and non spatial consideration
      <br/><br/>
      <b>Strategy 2: Baseline Spatial</b><br/>
      Topic and location are considered different.
      Spatial search is performed using area of overlap and hausdorff distance.<br/><br/>
      <b>Strategy 3: Wordnet - Synonyms</b><br/>
      In this third strategy, Topic is expanded using wordnet only synonyms and while location is used in spatial search using area of overlap and hausdorff distance.
    <br/><br/>
      <b>Strategy 4: Wordnet - All</b><br/>
      In this fourth strategy, Topic is expanded using wordnet's synonyms, hyponyms, and hypernyms while location is used in spatial search using area of overlap and hausdorff distance.
  <br/><br/>
        <b>Thank you for taking the time!</b><br/>
        <b>Now you can start with the baseline keyword strategy and open it in new tab to kep this help up!</b>
      </p>
      </div>

{% endblock %}