 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div id="navbarsExampleDefault">
      <!-- <div> -->
        <ul class="navbar-center list-inline" style="text-align: center;">
        <!-- <ul> -->
          <li class="nav-item list-inline-item">
            <a class="nav-link" style="text-decoration: none;font-weight: bold;font-size: 1.5em;" href="http://localhost:5001/">Home</a>
            </li>
             <li class="nav-item list-inline-item">
            <a class="nav-link"  style="text-decoration: none;font-weight: bold;font-size: 1.5em;" href="http://localhost:5001/result_base_keyword">Base-Keyword</a>
            
            <li class="nav-item list-inline-item dropdown">
            <a class="nav-link dropdown-toggle"style="text-decoration: none;font-weight: bold;font-size: 1.5em;" data-toggle="dropdown" href="">Base-Spatial</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_base">Area of Overlap</a>
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_base_hausdorff">Hausdorff</a>
            </div>
          </li>
          <li class="nav-item list-inline-item dropdown">
            <a class="nav-link dropdown-toggle" style="text-decoration: none;font-weight: bold;font-size: 1.5em;" data-toggle="dropdown" href="">Wordnet-Synonyms</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;" href="http://localhost:5001/result_wordnet">Area of Overlap</a>
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_wordnet_hausdorff">Hausdorff</a>
            </div>
          </li>
          <li class="nav-item list-inline-item dropdown">
            <a class="nav-link dropdown-toggle" style="text-decoration: none;font-weight: bold;font-size: 1.5em;" data-toggle="dropdown" href="">Wordnet-All</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_wordnet_all">Area of Overlap</a>
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_wordnet_hausdorff_all">Hausdorff</a>
            </div>
          </li>
             <li class="nav-item list-inline-item dropdown">
            <a class="nav-link dropdown-toggle" style="text-decoration: none;font-weight: bold;font-size: 1.5em;" data-toggle="dropdown" href="">Conceptnet-Synonym</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_conceptnet">Area of Overlap</a>
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_conceptnet_hausdorff">Hausdorff</a>
            </div>
          </li>
          <li class="nav-item list-inline-item dropdown">
            <a class="nav-link dropdown-toggle" style="text-decoration: none;font-weight: bold;font-size: 1.5em;" data-toggle="dropdown" href="">Conceptnet-All</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_conceptnet">Area of Overlap</a>
              <a class="dropdown-item" style="text-decoration: none;font-weight: bold;font-size: 1em;" href="http://localhost:5001/result_conceptnet_hausdorff">Hausdorff</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
